@charset "utf-8";

.pass{
	background-color:#eee;
}

.form-group{
	margin-top:50px;
	
}

.midasi2{
	text-align:center;
	
}

.midasi3{
	text-align:left;
	margin-left:10px;
}

.topmargin{
	margin-top:10px;
}

.col-md-4{
	width:30%;
}

control-label{
	text-align:left;
}
