@charset "utf-8";

.pass{
	background-color:#eee;
}

.headmargin{
	margin-top:50px;
	
}

.midasi2{
	text-align:center;
	
}

.midasi3{
	text-align:left;
	margin-left:10px;
}

.topmargin{
	margin-top:10px;
}

.widthform{
	width:30%;
}


